################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGentleEmply/bin/Debug/netcoreapp3.1
/WebGentleEmply/obj
